# Entorno virtual de Python
.venv/
venv/

# Archivos comprimidos
*.zip

# PDFs
*.pdf

# Caché de Python
__pycache__/
*.py[cod]

# Archivos compilados
*.so
*.o
*.out

# Java
persona1_java/out/
*.class
.sources.txt

# C++
persona3_cpp/build/

# Configuración de VS Code
.vscode/

# Configuración de PyCharm
.idea/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db